<div class="card m-2" *ngFor="let pokemon of pokemons">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{pokemon.image}}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <a class="is-size-2	" (click)="pokeMon(pokemon)">{{pokemon.name}}</a>
        <br>
        <p class="subtitle">
          Height-{{pokemon.height}}
          Weight-{{pokemon.weight}}
        </p>
    
        
        <footer class="card-footer">
          <span *ngFor="let ability of pokemon.abilities" class="mx-2 tag is-primary">
            <p>{{ability.name}}</p>
          </span>
        </footer>

      </div>
    </div>
  </div>