<div class="container">
  <input class="input is-primary" type="text" (input)="filter($event)" [value]="filterValue" placeholder="filter based on name or ability">
  <div class="columns my-2">
   <div class="column is-flex">
    <span class="mr-1"> page size</span>
    <span>
      <div class="buttons has-addons">
        <button [class.active] = "currentPageSize === 10" (click)="changePageSize(10)" class="button">10</button>
        <button  [class.active] = "currentPageSize === 20" (click)="changePageSize(20)" class="button">20</button>
        <button   [class.active] = "currentPageSize === 30" (click)="changePageSize(30)" class="button">30</button>
      </div>
    </span>   
    <span (click)="changeSorting('name')" class=" mx-2">
      <span  class="pr-2">Name</span>
      <span class="iconis-medium">
        <i *ngIf="sorting.name === 0" class="fas fa-arrow-up "></i>
        <i *ngIf="sorting.name === 1" class="fas fa-arrow-down"></i>
      </span>
    </span>
    <span (click)="changeSorting('height')" class=" mx-2">
      <span  class="pr-2">Height</span>
      <span class="iconis-medium">
        <i *ngIf="sorting.height === 0" class="fas fa-arrow-up "></i>
        <i *ngIf="sorting.height === 1" class="fas fa-arrow-down"></i>
      </span>
    </span>
    <span (click)="changeSorting('width')" class=" mx-2">
      <span class="pr-2">Width</span>
      <span class="iconis-medium">
        <i *ngIf="sorting.width === 0" class="fas fa-arrow-up "></i>
        <i *ngIf="sorting.width === 1" class="fas fa-arrow-down"></i>
      </span>
    </span>
   </div>
   <div class="column">
    <nav class="pagination" role="navigation" aria-label="pagination">
      <button class="pagination-previous" [disabled]="pageConfig.previous" (click)="previous()">Previous</button>
      <button class="pagination-next"  [disabled]="pageConfig.next" (click)="next()">Next page</button>
    </nav>
   </div>
  </div>
  <div>
  
  </div>

  <main>
    <ng-content></ng-content>
  </main>
  <nav class="pagination  my-2" role="navigation" aria-label="pagination">
    <button class="pagination-previous" [disabled]="pageConfig.previous" (click)="previous()">Previous</button>
    <button class="pagination-next"  [disabled]="pageConfig.next" (click)="next()">Next page</button>
  </nav>
</div>